html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
 color: white;
 font-size: 21px;
}
.board {
    display: flex;  
    flex-wrap: wrap; 
    width: 300px;
    height: 300px;
    position: relative;
}

.tile {
    position: absolute;
    border: 1px solid white;;
    width: 100px;
    height: 100px;
    color: transparent;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.2s linear, left 0.2s linear;

    background: url(./ocean.jpg);
    cursor: pointer;
}

.tile:last-of-type {
    background: none;
    border: none;
}